* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Source, sans pro;
}

body {
  background: #8fe6ff;
  color: #000;
}

/* NAV */
header {
  background: #0a7bdc;
  padding: 15px 10%;
}

.nav_links {
  display: flex;
  list-style: none;
}

.logo {
  margin-right: auto;
}

.nav_links a {
  color: #000;
  text-decoration: none;
  padding: 0 20px;
  font-weight: bold;
}

.nav_links a:hover{
  color: #88c6ff;
}

/* HERO */
.hero {
  text-align: center;
  padding: 30px 20px;
  font-size: 20px;
}

.subtitle {
  margin: 10px 0;
}

.avatar {
  font-size: 60px;
  margin: 20px 0;
}

.about {
  max-width: 600px;
  margin: 10px auto;
}

/* SERVICES */
.services {
  background: #4c97eb;
  padding: 60px 20px;
  text-align: center;
  height: 730px;
}
.services h2{
    font-size: 89px;
    margin-top: -30px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.card {
  background: #bfe5ff;
  width: 296px;
  height: 513px;
  padding: 20px;
  border-radius: 20px;
}

.card h3 {
    font-size: 35px;
    margin-top: 190px;
}

.card p{
    margin-top: 20px;
    font-size: 20px;
}

/* PROJECTS */
.projects {
  padding: 200px 20px;
  
}

.projects h2{
  position: absolute;
    font-size: 120px;
    margin-left: 220px;
    margin-top: 100px;
}

.project-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin-left: 500px
}

.project {
  width: 284px;
  height: 284px;
  padding: 40px;
  font-weight: bold;
}

.project-grid a{
  font-size: 30px;
  text-decoration: none;
  color: #000;
}

.project-grid a:hover{
  color: #ffffff;
}

.fu{
  position: absolute;
  top: 100px;
  left: 55px;
}

.gy{
  position: absolute;
  top: 100px;
  left: 105px;
}

.lp{
  position: absolute;
  top: 100px;
  left: 45px;
}

.project span {
  font-size: 20px;
  font-weight: normal;
}

.pwc{
  position: absolute;
  top: 150px;
  left: 48.5px;
}

.ddw{
  position: absolute;
  top: 150px;
  left: 45px;
}

.ima{
  position: absolute;
  top: 150px;
  left: 73px;
}

.pbf{
  position: absolute;
  top: 150px;
  left: 70px;
}

.green {
    background: #5cffc9; 
    position: absolute;
    z-index: 0;
    top: 1400.5px;
    left: 1000px;
}
.yellow { 
  background: #fff88a;
  position: absolute;
  top: 1700px;
  left: 1000px;
}

.gray { 
  background: #e5e5e5;
  position: absolute;
  top: 1550px;
  left: 1300px;
}

/* CONTACT */
.contact {
  display: flex;
  justify-content: space-around;
  padding: 40px;
}

.btn {
  padding: 15px 30px;
  border-radius: 25px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.email {
  background: #ffb3b3; 
  position: absolute;
  top: 2100px;
  left: 500px;
}

.email:hover{
  color: #ca0202;
}

.whatsapp { 
  background: #a6ff9c; 
  position: absolute;
  top: 2100px;
  left: 1200px;
}

.whatsapp:hover{
  color: #108503;
}

/* FOOTER */
footer {
  font-size: 12px;
  padding: 10px;
  position: absolute;
  top: 2189px;
}
