*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, sans-serif;
}

body{
  background:#000000;
}

.img1{
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 50%;
}

/* NAV */
.nav{
  background:#ae0000;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 10%;
  margin:20px;
}

.logo img{
  width: 100px;
  height: 50px;
}

.nav a{
  margin:0 15px;
  text-decoration:none;
  color:#000;
}

.nav a:hover{
  color: #f40000;
}

/* MEMBRESIAS */
.memberships{
  text-align:center;
  padding:40px;
}

.memberships h1{
  font-size:60px;
  margin-bottom:30px;
  color: #cfcfcf;
}

.cards{
  display:flex;
  justify-content:center;
  align-items:flex-end;
  gap:20px;
  opacity: 90%;
}

.card{
  background:#bdbdbd;
  width:300px;
  height: 500px;
  padding:20px;
}

.card h2{
  font-size:40px;
}

.price-1{
  font-size:50px;
  font-weight:bold;
  text-align: center;
  position: absolute;
  margin-top: 70px;
  margin-left: 70px;
}

.price-2{
  font-size:50px;
  font-weight:bold;
  text-align: center;
  position: absolute;
  margin-top: 160px;
  margin-left: 70px;
}

.price-3{
  font-size:50px;
  font-weight:bold;
  text-align: center;
  position: absolute;
  margin-top: 260px;
  margin-left: 70px;
}

.card span{
  font-size:20px;
}

.card ul{
  margin:15px 0;
  text-align:left;
  font-size:20px;
  padding-left: 50px;
}

.card ul li{
  padding-top: 10px;
}

.price{
  font-size:35px;
  font-weight:bold;
  margin-top:10px;
}

/* DESTACADA */
.featured{
  background:#cfcfcf;
  margin-left: 250px;
}