*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, sans-serif;
}

body{
  background: #000;
}

/* NAV */
.nav{
  background:#ae0000;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 10%;
  margin:20px;
}

.logo img{
  width: 100px;
  height: 50px;
}

.nav a{
  margin:0 15px;
  text-decoration:none;
  color:#000;
}

.nav a:hover{
  color: #f40000;
}

/* HERO */
.hero img{
  height:900px;
  width: 100%;
  display:flex;
  align-items:center;
  justify-content:center;
  position: absolute;
  margin-top: -160px;
  z-index: -1;
  opacity: 90%;
}

/* ABOUT */
.about{
  text-align:center;
  margin-top: 350px;
  padding-bottom: 50px;
  padding-top: 500px;
  color: #ffffff;
}

.about h2{
  font-size: 45px;
}

.about p{
  font-size: 36px;
}

/* CLASSES */
.classes{
  padding: 100px;
  text-align:center;
  border: #000 solid 1px;
  background: #8b8b8b;
}

.classes h2{
  font-size: 70px;
}

.class-grid{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  gap:30px;
  margin-top:50px;
  height: 900px;

}

.class-card{
  border:1px solid #aa7070;
  padding: 150px 20px;
  font-size: 70px;
  width: 555px;  
  background-color: #d64141;
}

.class-card button{
  position: absolute;
  margin-top: 150px;
  font-size: 30px;
  background-color: #7a7a7a;
  border-radius: 20px;
  padding: 5px 8px;
}

.b1{
  margin-left: -130px;
}

.b2{
  margin-left: -150px;
}

.b3{
  margin-left: -250px;
}

.b4{
  margin-left: -155px;
}

.b5{
  margin-left: -155px;
}

.b6{
  margin-left: -130px;
}

.class-grid a{
  text-decoration: none;
  color: #000;
}

.class-grid a:hover{
  color: #bdbcbc;
}

/* MEMBERSHIP */
.membership{
  padding:50px;
  background:#741515;
  color: #470000;
}

.membership h2{
  text-align: center;
  font-size: 70px;
}

.membership h3{
  text-align: center;
  font-size: 45px;
}

.plans{
  display:flex;
  justify-content:center;
  gap:30px;
  margin-top:30px;
}

.plan{
  background:#f40000;
  padding:30px;
  width:300px;
  height: 600px;
}

.featured{
  background:#c42f2f;
}

.plan ul{
  margin:20px 30px;
  font-size: 20px;
}

.price-1{
  font-size:50px;
  font-weight:bold;
  text-align: center;
  position: absolute;
  margin-top: 200px;
  margin-left: 70px;
}

.price-2{
  font-size:50px;
  font-weight:bold;
  text-align: center;
  position: absolute;
  margin-top: 180px;
  margin-left: 70px;
}

.price-3{
  font-size:50px;
  font-weight:bold;
  text-align: center;
  position: absolute;
  margin-top: 290px;
  margin-left: 70px;
}

/* CONTACT */
.contact{
  display:flex;
  gap:30px;
  padding:50px;
  color: #ffffff;
}

.form h3{
  text-align: center;
  font-size: 30px;
  padding-bottom: 40px;
}

.map h3{
  font-size: 40px;
  text-align: center;
  padding-bottom: 20px;
}

.sede h4{
  text-align: center;
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.sede p{
  font-size: 20px;
}

.form, .map{
  flex:1;
}

.form input, .form textarea{
  width:100%;
  margin-bottom:10px;
  padding:8px;
}

.map-box{
  width: 900px;
  height:150px;
  background:#ccc;
  display:flex;
  align-items:center;
  justify-content:center;
  margin-bottom:15px;
  margin-right: -10px;
}

/* FOOTER */
footer{
  display:flex;
  justify-content:space-around;
  padding:20px;
  background: #ae0000;
  font-size:20px;
}

footer p{
  margin-top: 20px;
}