*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, sans-serif;
}


.ymg{
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 80%;
  margin-top: -20px;
}

/* NAV */
.nav{
  background:#ae0000;
  margin:20px;
  padding:15px 8%;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.nav a{
  margin:0 15px;
  text-decoration:none;
  color:#000;
}

.nav a:hover{
  color:#f40000;
}

.logo img{
  width: 100px;
  height: 50px;
}

/* CLASES */
.classes{
  background:#86868649;
  margin:20px;
  padding:30px;
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  gap:25px;
}

.img1{
  margin-top: 5px;
  width: 180px;
  height: 150px;
  opacity: 90%;
}

.class-card{
  background:#d42f2f  ;
  padding:15px;
  display:flex;
  gap:15px;
}

.info h2{
  font-size: 40px;
  margin-bottom:10px;
  text-align: center;
}

.info p{
  font-size: 20px;
  margin-bottom:10px;
  text-align: center;
}

.meta{
  display:flex;
  justify-content:space-between;
  font-size:20px;
  padding-top: 20px;
}

.s1{
  padding-right: 300px;
}
