*{
    font-family: 'Zen Antique Soft', serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #C8FFDE;
}
.barra{ 
    width: 100%;
    height: 60px;
    background: #019E4A;
    position: fixed;
    left: 0px;
    top: 0px;
    justify-content: space-between;
    display: flex;
    z-index: 1;
}
.bar-btn{
    font-size: 30px;
    color: black;
    margin-top: 5px;
    margin-right: 20px;
    cursor: pointer;
}
.p2{
    padding-left: 180px;
    font-size: 18px;
}
.barra ul{
    position: absolute;
    width: 100%;
    height: 0vh;
    margin-top: 60px;
    background: rgba(0, 0, 0, .5);
    text-align: center;
    transition: all .5%;
}
.barra ul .p1{
    display: none;
    line-height: 30px;
    margin: 50px;
    transition: all .5%;
    padding-right: 60px;
}
.barra a{
    text-decoration: none;
}
.barra ul a{
    color: black;
    font-size: 16px;
    text-transform: uppercase
    font-weight 600
}
ul .p1 a.active, ul .p1 a:hover{
    color: #29FF8C;
    transition: .3%;
}
#check{
    display: none;
}
#check:checked ~ ul{
    height: 100vh;
}
#check:checked ~ ul .p1{
    display: block;
}
.titulo{
    position: absolute;
    left: 120px;
    top: 100px;
    font-size: 40px;
    text-align: center;
    color: #049750;
}
.reser{
    background-color: #00BB6C;
    width: 500px;
    height: 550px;
    position: absolute;
    left: 20px;
    top: 300px;
}
.caja{
    position: absolute;
    width: 420px;
    height: 495px;
    background: #92FFB0;
    margin-top: 30px;
    margin-left: 40px;
}
.formulario{
    margin-top: 20px;
    margin-left: 50px;
}
#direccion2{
    width: 300px;
}
#consulta{
    width: 300px;
}
.pie{
    position: absolute;
    width: 100%;
    height: 54px;
    left: 0px;
    top: 900px;
    background: #00BB6C;
}
.pie p{
    text-align: center;
}
.boton{
    background-color: #00BB6C;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
@media (min-width: 780px){ 
    .bar-btn{
        display: none;
    }
    .barra ul{
        position: absolute;
        top: -45px;
        transition: none;
        text-align: right;
        background: none;
    }
    .barra ul .p1{
        display: inline-block;
        margin: 0px ;
        transition: none;
    }
    .titulo{
        position: absolute;
        left: 500px;
        top: 100px;
        font-size: 75px;
        text-align: center;
        color: #049750;
    }
    .reser{
        background-color: #00BB6C;
        width: 1450px;
        height: 555px;
        position: absolute;
        left: 70px;
        top: 377px;
    }  
    .caja{
        position: absolute;
        width: 1370px;
        height: 495px;
        background: #92FFB0;
        margin-top: 30px;
        margin-left: 40px;
    }
    .formulario{
        margin-top: 20px;
        margin-left: 50px;
    }
    #direccion2{
        width: 300px;
    }   
    #consulta{
        width: 700px;
    }
    .pie{
        position: absolute;
        width: 100%;
        height: 54px;
        left: 0px;
        top: 1000px;
        background: #00BB6C;
    }
    .pie p{
        text-align: center;
    }
    .boton{
        background-color: #00BB6C;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
}